<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.1" package="com.example.geojsondemo">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="GeoJsonDemo" android:icon="@mipmap/icon" android:theme="@style/MainTheme">
		<!--<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCOKvtQef_ELetPomrRuDxzke5QqzEY3GA" />-->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBpDAYLooF0Kt-17lgyA5b0Mz8tCYcqYEo" />
	</application>
</manifest>